

#generalContainer
{
    display: flex;
    
    height: 100vh;
    width: 100%;
    background-image: url(../imagenes/BackGroundGame.png);
}

#scoreboardContainer
{
    height: 100%;
    width: 30%;
    background-color: red;
    background-color: rgba(0, 0, 0, 0.2);
}

#table
{
    display: grid;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin: auto;
    place-items: center;
    

}

#gameContainer
{
    display: grid;
    grid-template-columns: repeat(3,60px);
    grid-template-rows: repeat(3,60px);
    width: fit-content;
    background-color: rgba(0, 0, 0, 0.2);
    gap: 10px; 
    row-gap: 10px;
    column-gap: 10px;
    

}

.boxes
{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 10vh;
    
    contain: content;
    background-color: transparent;
    border: 1px black solid;
}

#winnerSignContainer
{
    width: 100%;
    text-align: center;
    font-family: 'Finger Paint', cursive;
}

#btnsContainer
{
    
    display: grid;
    background-color: transparent;
    height: 50px;
    width: 100%;
    margin-bottom: 200px;
    place-items: center;
}

#btnReset
{
    
}

.btnsBoxes
{
    font-family: 'Finger Paint', cursive;
    font-size: 8vh;
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
}

#btnBox0
{
    
}

